services:
  sdui-application:
    # Build image from the Dockerfile in this directory
    build:
      dockerfile: ./Dockerfile
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SERVER_PORT=8080